body{
	background-color:black;
	visibility:hidden;
	font-size:0.5pt;
	margin-left:10%;
	margin-right:10%;
	
}


td, th{
	border: 1px solid white;
	visibility:visible;
	padding:1%;
}

.name{
	color:white;
	visibility:visible;
	text-align:left;
	font-size:15pt;
	margin-top:1%;
	margin-bottom:0.5%;
}

.description{
	color:yellow;
	visibility:visible;
	text-align:left;
	font-size:15pt;
	margin-top:1%;
	margin-bottom:0.5%;
	
}

.solution{
	color:#ff66ff;
	visibility:visible;
	text-align:left;
	font-size:15pt;
	margin-top:1%;
	margin-bottom:0.5%;
}

.url{
	color:86835E;
	visibility:visible;
	text-align:left;
	font-size:15pt;
	margin-top:1%;
	margin-bottom:0.5%;
	text-decoration: underline;
}

.container{
	color:CCB9F4;
	visibility:visible;
	text-align:left;
	font-size:15pt;
	margin-top:1%;
	margin-bottom:0.5%;
}

th > .name, th > .description, th > .solution{
	font-size:20pt;
}

h1{
	color:white;
	visibility:visible;
	text-align:left;
	font-size:25pt;
	display: block;
}
	
	
