{% load static %}
{% load crispy_forms_tags %}
{% load account %}
<!doctype html>
    <html lang="en" class="h-100">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <title>Home</title>
        <link href="{% static 'assets/dist/css/bootstrap.min.css '%}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link href="{% static 'css/headers.css ' %}" rel="stylesheet">
        <link href="{% static 'css/cover.css ' %}" rel="stylesheet">
        
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
    </head>

    <body class="d-flex h-100 text-center text-dark">
        
        <div class=" d-flex w-100 h-100 mx-auto flex-column">
            <header class="p-3 mb-auto border-bottom bg-dark">
                <div class="container">
                  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                      Ricky's Team
                    </a>
              
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                      <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                        <li><a href="{% url 'aboutus' %}" class="nav-link px-2 text-white">About Us</a></li>
                        <li><a href="{% url 'contactus' %}" class="nav-link px-2 text-white">Contact Us</a></li>
                        <li><a href="{% url 'arachni_form' %}" class="nav-link px-2 link-secondary">Arachni Scan</a></li>
                        <li><a href="{% url 'arachni_redirect' %}" class="nav-link px-2 text-white">Arachni Scan History</a></li>
                    </ul>
              
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block text-white text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                          
                          <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.email }}</span>
                          <img class="img-profile rounded-circle" alt="mdo" width="32" height="32" src="{% static 'img/undraw_profile.svg' %}">
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                          
                          <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
                        </ul>
                      </div>
                  </div>
                </div>
              </header>
            
              <div class="hero">
                <section >
                  <!-- Begin Page Content -->
                 <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class=" mb-2 text-white">Scan History</h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">Databases Data</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <h1>Scanning Report for {{scan_id}}</h1>
                                    <p class='name'>Issue(s) Found</p>
                                    <p class='description'>Issue(s) Description</p>
                                    <p class='solution'>Remedy Guidance</p>
                                    <p class='url'>URL Detected</p>
                                    {%for r in report%}
                                    {% comment %} {%if h.email == user%} {% endcomment %}
                                    {% comment %} {%if scan_id == h.scan_data%} {% endcomment %}
                                    <p class='container'>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                    <p class='name'>{{r.vulnerabilities}}</p>
                                    <p class='description'>
                                    {{r.vulnerabilities_description}}
                                    </p>
                                    <p class='solution'>{{r.solutions}}</p>
                                    <p class='url'>{{r.report_url}}</p>
                                    {% comment %} {%endif%} {% endcomment %}
                                    {% comment %} {%endif%} {% endcomment %}
                                    {%endfor%}
                                    
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
                    
                  
                </section>
                
             </div>

             

            <footer class="mt-auto text-dark-50">
                
                <span>Copyright &copy; Ricky's Team 2021</span>
            </footer>
        </div>
        <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
    </body>

    </html>